# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#archives
*.zip
*.tar
*.bz
*.bz2
!archives/*.zip
!archives/*.bz
!archives/*.bz2

#python
__pycache__
*.pyc
*.egg-info
MANIFEST

#env
test/result_*.txt
.git/
.vscode/
.recycle/
build/
debug/
dist/
dics/
juman-7.01/
python_module/LICENSES.txt
custom_build/